<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show confirmation window</title>
</head>
<body>
    <h1> TV Show {{ show.id }} </h1>
    <p>Title: {{ show.title }}</p>
    <p>Network: {{ show.network }}</p>
    <p>Release Date: {{ show.rldate }}</p>
    <p>Description: {{ show.description }}</p>
    <br>
    <br>
    <p>Last Updated: {{ show.updated_at }}</p>
    <br>

    <a href="/">Home</a>
    <a href="/">New Movie</a>
    <a href="/">Logout</a>
    
</body>
</html>